
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    font-size: 62.5%;
}
body{
    font-family:'Montserrat' , ' sans-serif';
}
h1,h2,h3{
    letter-spacing: 0.15em;
    font-weight: 700;
}
.container
{
    max-width: 1200px;
    width: 90%;
    /* border: 1px solid white; */
    margin:  0 auto;
}
 
/********************************************************************************/
    .header
    {
        height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(../images/header-image.jpg);
        width: 100vw;
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        position: absolute;
    }

    .header .navbar .logo ,
    .header .navbar a
    {
        color: white;
        text-decoration: none;
        font-size: 2rem;
    }

    .header .navbar
    {
        /* border: 1px solid rgb(167, 61, 61); */
        padding: 1rem;
        width: 100%;
        
    }
    .header .clearfix::after
    {
        display: block;
        clear: both;
        content: "";

    }
    .header .navbar .logo a
    {
        /* border: 1px solid white; */
        float: left;
        font-size: 3.5rem;
        margin-top: 0.5rem;
        transition: color 0.5s ease-in;
    }
    .header .navbar .logo a:hover
    {
        color: tomato;
    }
    .header .navbar .navitems
    {
        float: right;
        list-style: none;
        margin: 1rem;
        /* border: 1px solid darkgoldenrod; */
        
    }
    .header .navbar .navitems .nav-item
    {
        /* border: 1px solid white; */
        display:inline-block ;
        text-transform: uppercase;
        padding: 0.8rem 1.4rem;
        margin: 0 2rem;
    }
    .navitems .nav-item a 
    {
    transition: border 1s linear;
    }
    .navbar .navitems .nav-item a:hover
    {
        
        border-bottom: 2px solid white; 
        cursor: default;

    }
    .header-content
    {
        position: relative;
       top: 35%;
       padding: 2rem;
    }

    .header-content h2
    {
        color: rgb(214, 97, 1);
        margin: 0;
        padding-top: 0rem;
        padding-bottom: 2rem;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        line-height: 3rem;
        transition: all 0.5s linear;

    }
    .header-content .content-heading:hover
    {
        
        font-size: 4.2rem;
    }
    .header-content p
    {
        color:rgb(165, 165, 165);
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        line-height: 3rem; 
    }
    .header-content .button
    {
         
        width: 100%;
        /* border: 1px solid rgb(241, 128, 128); */
        padding: 2rem;
        margin: 2rem auto;
        text-align: center;
        transform: skew(0deg,0deg);
        
    } 
     
    .header-content .button a 
    {
        margin: 2rem;
        padding: 1rem 2rem;
        border: 2px solid rgb(247, 247, 247);
        background-color: rgb(255, 255, 255);
        color: tomato; 
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        font-size: 2rem;
        border-radius: 100px;
        font-weight: 500;
        transition: all 0.3s linear;
         
    }
       
    .header-content a:hover 
    {
        transform: perspective(200px), skew(80deg,80deg);
          
         box-shadow: 0px 0px 15px 3px rgb(255, 255, 255);
         color: white;
         background-color: rgb(0, 0, 0);
         border: 2px solid rgb(252, 252, 252);
         
    }
    
    
    




 
