
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
     scroll-behavior: smooth; 
}
html 
{
    font-size: 62.5%;
}
body{
     
    font-family:'Montserrat' , ' sans-serif';
}
h1,h2,h3{
    letter-spacing: 0.15em;
    font-weight: 700;
}
.container
{
    max-width: 1200px;
    width: 90%;
    /* border: 1px solid white;  */
    margin:  0 auto;
}

 
    .header
    {
        height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(../images/header-image.jpg);
        margin: 0 auto; 
       
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
         
    }
    

    .header .navbar .logo ,
    .header .navbar a
    {
        color: white;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .header .navbar
    {
        /* border: 1px solid rgb(167, 61, 61);  */
        padding: 1rem;
        width: 100%;
        
    }
    .header .clearfix::after
    {
        display: block;
        clear: both;
        content: "";

    }
    .header .navbar .logo a
    {
         /* border: 1px solid white;  */
        float: left;
        font-size: 3.5rem;
        margin-top: 0.5rem;
        transition: color 0.5s ease-in;
    }
    .header .navbar .logo a:hover
    {
        color: tomato;
    }
    .header .navbar .navitems
    {
        float: right;
        list-style: none;
        margin: 1rem;
         /* border: 1px solid darkgoldenrod;  */
        
    }
    .header .navbar .navitems .nav-item
    {
         /* border: 1px solid white;  */
        display:inline-block ;
        text-transform: uppercase;
        padding: 0.8rem 1.4rem;
        margin: 0 2rem;
    }
    .navitems .nav-item a 
    {
    /* transition: border 1s linear; */
    }
    .navbar .navitems .nav-item a:hover
    {
        
           /* border-bottom: 2px solid white;  */
        cursor: default;

    }
    
    .header-content
    {
        position: relative;
       top: 35%;
       padding: 2rem;
    }

    .header-content h2
    {
        color: rgb(214, 97, 1);
        margin: 0;
        padding-top: 0rem;
        padding-bottom: 2rem;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        line-height: 3rem;
        transition: all 0.5s linear;

    }
    .header-content .content-heading:hover
    {
        
        font-size: 4.2rem;
    }
    .header-content p
    {
        color:rgb(165, 165, 165);
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        line-height: 3rem; 
    }
    .header-content .button
    {
         
        width: 100%;
        /* border: 1px solid rgb(241, 128, 128);  */
        padding: 2rem;
        margin: 2rem auto;
        text-align: center;
        transform: skew(0deg,0deg);
        
    } 
     
    .header-content .button a 
    {
        margin: 2rem;
        padding: 1rem 2rem;
        border: 2px solid rgb(247, 247, 247);
        background-color: rgb(255, 255, 255);
        color: tomato; 
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        font-size: 2rem;
        border-radius: 100px;   
        font-weight: 500;
        transition: all 0.3s linear;
         
    }
       
    .header-content a:hover 
    {
        transform: perspective(200px), skew(80deg,80deg);
          
         box-shadow: 0px 0px 15px 3px rgb(255, 255, 255);
         color: white;
         background-color: rgb(0, 0, 0);
         /* border: 2px solid rgb(252, 252, 252); */
         
    }

                /* Section starts  */
    .section 
    {
        background-color: rgb(0, 0, 0); 
        height: 90vh; 
         
    }

    .content-container
    {
        position: relative;
        top: 50px;
        width: 100%;
        height: 50%;
        background-color: rgb(0, 0, 0);
         
    }
     
    .content-container-image 
    {
        float: left;
        position: relative;
        top: 10%;
        left: 3%;
        width: 40%; 
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0)), url(../images/indiagate.jpg);
    }

    .content-container-text #head
    {
        font-family:'Montserrat' , ' sans-serif';
        font-size: 60px;
        text-align: center;
        width: 50%;
        opacity: 0;
        margin: 0 auto;  
        transition: all ease-out 500ms;
        
    }

    .content-container-text #info
    {
        font-family:'Montserrat' , ' sans-serif';
        font-size: 15px;
        text-align: justify;
        padding: 20px;
        opacity: 0;
        transition: all ease-out 700ms;
    }
    .content-container-image ,.content-container-text
    {
        display: inline-block;
        height: 80%;
        width: 40%; 
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
         
         
         
    }
     
    .content-container-image:hover + .content-container-text #head 
    {
        opacity: 0.7;
        color: white;
    }

    .content-container-image:hover + .content-container-text #info 
    {
        opacity: 0.7;
        color: white;
    }
    .content-container-image:hover  
    {
         background: linear-gradient(rgba(104, 79, 79, 0.2),rgba(0,0,0,0.4)), url(../images/indiagate.jpg);
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         /* border: 4px solid rgb(8, 8, 8); */
         /* border-style: groove; */
         /* box-shadow: 0px 0px 5px 2px rgb(255, 255, 255); */

    }  
    .content-container-text
    {
        float: right;
        position: relative;
        right: 3%;
        top: 10%;
         
    }
    
    .content-container .clearfix::after
    {
        display: block;
        clear: both;
        content: "";

    }
     

     
     


    
    




 
